<a href="https://colab.research.google.com/github/SriSatyaLokesh/some-app-for-whatsapp/blob/master/notebooks/analytics/Cleaning_Whatsapp_chat_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving WhatsApp Chat with CSE 2K16-2K20.txt to WhatsApp Chat with CSE 2K16-2K20 (1).txt

In [1]:
import pandas as pd
from itertools import chain, repeat
import re

chainer = chain.from_iterable
class Cleaner:
  def __init__(self,filename):
    self.filename = filename

  def _clean_data(self):
    chat_file = self.filename
    with open(chat_file) as file:
      all_msgs = file.readlines()
      raw_texts = []
      for line in all_msgs:
        if re.match("^\d{2}/\d{2}/\d{2},\s\d{1,2}:\d{2}\s[ap][m]",line):
          # print(line)
          date_split = line.split(' - ') #date and user
          user_split = date_split[1].split(':')
          if len(user_split) >= 2:
            raw_texts.append(line)
        else:
          try:
            raw_texts[-1] += line
          except Exception as err:
            # print(line,raw_texts)
            # print(err)
            pass

    return raw_texts 
      
  def _get_data(self):
    raw_texts = self._clean_data()
    raw_messages = dict()
    for line in raw_texts:
      date_split = line.split(' - ')
      user_split = date_split[1].split(':')
      user = user_split[0]
      if user not in raw_messages:
        raw_messages[user] = [line]
      else:
        raw_messages[user].append(line)

    df = pd.DataFrame({'user': list(chainer(repeat(k, len(v)) for k,v in raw_messages.items())),
                   'raw_message': list(chainer(raw_messages.values()))}) 
    return df


chat_file =  "WhatsApp Chat with CSE 2K16-2K20 (1).txt"
clean = Cleaner(chat_file)
df = clean._get_data()
df

                user                                        raw_message
0    +91 73311 74849     17/07/19, 8:21 pm - +91 73311 74849: Yes sir\n
1    +91 73311 74849  02/08/19, 7:23 pm - +91 73311 74849: <Media om...
2    +91 80965 40660  17/07/19, 8:32 pm - +91 80965 40660: Sir tomm ...
3    +91 80965 40660  08/08/19, 6:28 pm - +91 80965 40660: This mess...
4    +91 98667 58870     17/07/19, 8:32 pm - +91 98667 58870: Infy TQ\n
..               ...                                                ...
632  +91 98483 13908  25/04/20, 1:30 pm - +91 98483 13908: This mess...
633  +91 98483 13908  25/04/20, 1:33 pm - +91 98483 13908: Sir, most...
634  +91 79934 07020  25/04/20, 1:40 pm - +91 79934 07020: Sir, plea...
635  +91 73828 52692  25/04/20, 1:41 pm - +91 73828 52692: Sir, plea...
636  +91 90106 66088  25/04/20, 1:43 pm - +91 90106 66088: Yes sir w...

[637 rows x 2 columns]

In [2]:
df[df['user'] == "Vasavi"]

       user                                        raw_message
535  Vasavi  19/09/19, 11:16 am - Vasavi: You deleted this ...
536  Vasavi  19/09/19, 11:16 am - Vasavi: You deleted this ...
537  Vasavi  19/09/19, 11:19 am - Vasavi: Sorry sir\nIts aa...

In [0]:
def get_message(row"):
  user_split = row["user"] + ": " #row.user or row["user"]
  try: 
    return row["raw_message"].split(user_split)[-1]
  except:
    print(row)

df["clean_message"] = df.apply(lambda: row clean_message(row), axis=1)

In [0]:
for i in raw_msgs_df.index:
  temp = raw_msgs_df.at[i,'raw_message']
  message = temp.split(':')
  message = "".join(message[1:])
  raw_msgs_df.at[i,'raw_message'] = message

In [3]:
df["clean_message"] = df.apply(lambda df : "".join(df['raw_message'].split(":")[2:]),axis=1)
df

                user  ...                                      clean_message
0    +91 73311 74849  ...                                          Yes sir\n
1    +91 73311 74849  ...                                  <Media omitted>\n
2    +91 80965 40660  ...    Sir tomm we should attend InfyTQ or Cocubes ?\n
3    +91 80965 40660  ...                         This message was deleted\n
4    +91 98667 58870  ...                                          Infy TQ\n
..               ...  ...                                                ...
632  +91 98483 13908  ...                         This message was deleted\n
633  +91 98483 13908  ...   Sir, most of us are still in assumption that ...
634  +91 79934 07020  ...   Sir, please extend the last date to Monday an...
635  +91 73828 52692  ...   Sir, please extend the last date to Monday an...
636  +91 90106 66088  ...   Yes sir we have already given  ts 1 and 2  to...

[637 rows x 3 columns]

In [4]:
mask1 = df['user'] == "IDIOT😎"
mask2 = df['clean_message'] == " <Media omitted>\n"
df[mask2]

                user  ...       clean_message
1    +91 73311 74849  ...   <Media omitted>\n
34   +91 98667 58870  ...   <Media omitted>\n
36   +91 98667 58870  ...   <Media omitted>\n
74   +91 98667 58870  ...   <Media omitted>\n
76   +91 98667 58870  ...   <Media omitted>\n
..               ...  ...                 ...
590  +91 70758 07774  ...   <Media omitted>\n
595  +91 99126 48686  ...   <Media omitted>\n
598  +91 99126 48686  ...   <Media omitted>\n
622  +91 99126 48686  ...   <Media omitted>\n
623  +91 99126 48686  ...   <Media omitted>\n

[127 rows x 3 columns]

In [0]:
from string import digits
remove_digits = str.maketrans('', '', digits)
df["text_only_message"] = df.apply(lambda df : df["clean_message"].encode('ascii', 'ignore').decode('ascii'),axis=1)
df["text_only_message"] = df.apply(lambda df : df["text_only_message"].translate(remove_digits),axis=1)

In [6]:
df

                user  ...                                  text_only_message
0    +91 73311 74849  ...                                          Yes sir\n
1    +91 73311 74849  ...                                  <Media omitted>\n
2    +91 80965 40660  ...    Sir tomm we should attend InfyTQ or Cocubes ?\n
3    +91 80965 40660  ...                         This message was deleted\n
4    +91 98667 58870  ...                                          Infy TQ\n
..               ...  ...                                                ...
632  +91 98483 13908  ...                         This message was deleted\n
633  +91 98483 13908  ...   Sir, most of us are still in assumption that ...
634  +91 79934 07020  ...   Sir, please extend the last date to Monday an...
635  +91 73828 52692  ...   Sir, please extend the last date to Monday an...
636  +91 90106 66088  ...   Yes sir we have already given  ts  and   to o...

[637 rows x 4 columns]

In [7]:
df[df['user'] == '+91 85009 40612']   # example for removing emoji s from clean_message

                user  ... text_only_message
402  +91 85009 40612  ...                \n

[1 rows x 4 columns]

In [8]:
df[df['user'] == "IDIOT😎"]    # example for removing numbers from clean_message

       user  ...                                  text_only_message
314  IDIOT😎  ...                                  <Media omitted>\n
315  IDIOT😎  ...                   TCS Code Vita  All India ranks\n
316  IDIOT😎  ...                                              sir\n
317  IDIOT😎  ...                                              sir\n
318  IDIOT😎  ...                              Sri Satya Lokesh\nA\n
319  IDIOT😎  ...   https//www.infosys.com/infosys-foundation/aar...
320  IDIOT😎  ...   https//www.hackerearth.com/challenges/hiring/...
321  IDIOT😎  ...   Participate in this exciting machine learning...
322  IDIOT😎  ...                                  <Media omitted>\n
323  IDIOT😎  ...   Replace Plastic Ideathon - Hyderabad edition ...
324  IDIOT😎  ...                                  <Media omitted>\n
325  IDIOT😎  ...   Guys anybody having their Wipro interview sch...
326  IDIOT😎  ...   Found an article you may be interested in htt...
327  IDIOT😎  ...   Amazon Opening for Freshers/Students Post Sof...
328  IDIOT😎  ...   *Synopsys Inc Mumbai* is Hiring for the below...
329  IDIOT😎  ...                 http//womenoftheworld.mettl.com/\n
330  IDIOT😎  ...   *| Newton School Coding Challenge | Sunday th...
331  IDIOT😎  ...                                  <Media omitted>\n
332  IDIOT😎  ...   *Amazon intern and full time SDE hiring*\n\n*...

[19 rows x 4 columns]

In [13]:
df.loc[(df['text_only_message'] == " This message was deleted\n") | (df['text_only_message'] == " \n"),'text_only_message'] = ""
df

                user  ...                                  text_only_message
0    +91 73311 74849  ...                                          Yes sir\n
1    +91 73311 74849  ...                                  <Media omitted>\n
2    +91 80965 40660  ...    Sir tomm we should attend InfyTQ or Cocubes ?\n
3    +91 80965 40660  ...
4    +91 98667 58870  ...                                          Infy TQ\n
..               ...  ...                                                ...
632  +91 98483 13908  ...
633  +91 98483 13908  ...   Sir, most of us are still in assumption that ...
634  +91 79934 07020  ...   Sir, please extend the last date to Monday an...
635  +91 73828 52692  ...   Sir, please extend the last date to Monday an...
636  +91 90106 66088  ...   Yes sir we have already given  ts  and   to o...

[637 rows x 4 columns]

In [14]:
df[df['user'] == '+91 85009 40612']

                user  ... text_only_message
402  +91 85009 40612  ...

[1 rows x 4 columns]

[check this](https://stackoverflow.com/questions/55742928/pandas-check-which-substring-is-in-column-of-strings/55743174)

In [0]:
group_by_users = df.groupby('user')

In [17]:
group_by_users.get_group('IDIOT😎')

       user  ...                                  text_only_message
314  IDIOT😎  ...                                  <Media omitted>\n
315  IDIOT😎  ...                   TCS Code Vita  All India ranks\n
316  IDIOT😎  ...                                              sir\n
317  IDIOT😎  ...                                              sir\n
318  IDIOT😎  ...                              Sri Satya Lokesh\nA\n
319  IDIOT😎  ...   https//www.infosys.com/infosys-foundation/aar...
320  IDIOT😎  ...   https//www.hackerearth.com/challenges/hiring/...
321  IDIOT😎  ...   Participate in this exciting machine learning...
322  IDIOT😎  ...                                  <Media omitted>\n
323  IDIOT😎  ...   Replace Plastic Ideathon - Hyderabad edition ...
324  IDIOT😎  ...                                  <Media omitted>\n
325  IDIOT😎  ...   Guys anybody having their Wipro interview sch...
326  IDIOT😎  ...   Found an article you may be interested in htt...
327  IDIOT😎  ...   Amazon Opening for Freshers/Students Post Sof...
328  IDIOT😎  ...   *Synopsys Inc Mumbai* is Hiring for the below...
329  IDIOT😎  ...                 http//womenoftheworld.mettl.com/\n
330  IDIOT😎  ...   *| Newton School Coding Challenge | Sunday th...
331  IDIOT😎  ...                                  <Media omitted>\n
332  IDIOT😎  ...   *Amazon intern and full time SDE hiring*\n\n*...

[19 rows x 4 columns]

In [18]:
group_by_users.agg('count')

                  raw_message  clean_message  text_only_message
user
+91 6301 540 782            1              1                  1
+91 6301 575 514            2              2                  2
+91 70321 59859             1              1                  1
+91 70360 37933             2              2                  2
+91 70362 32555             3              3                  3
...                       ...            ...                ...
Niha                        1              1                  1
Pavan                       2              2                  2
Varma Sir_PAT             213            213                213
Vasavi                      3              3                  3
Venkat_v                    1              1                  1

[111 rows x 3 columns]

In [19]:
for user,msgs in group_by_users:
  print(user)
  print(msgs)

+91 6301 540 782
                 user  ...   text_only_message
539  +91 6301 540 782  ...   Thank you sir..\n

[1 rows x 4 columns]
+91 6301 575 514
                 user  ...                text_only_message
557  +91 6301 575 514  ...   Nune Arun Sagar\nAN\nCse - D\n
558  +91 6301 575 514  ...        P.Niharika\nAN\nCse - d\n

[2 rows x 4 columns]
+91 70321 59859
                user  ...        text_only_message
584  +91 70321 59859  ...   G.Sanketh\nAE\nCSE-C\n

[1 rows x 4 columns]
+91 70360 37933
                user  ...         text_only_message
554  +91 70360 37933  ...   S.Vishnu\nAG\nCSE - C\n
555  +91 70360 37933  ...

[2 rows x 4 columns]
+91 70362 32555
                user  ...                          text_only_message
384  +91 70362 32555  ...                                  Yes sir\n
385  +91 70362 32555  ...   https//www.youtube.com/watch?v=AxqVWFc\n
386  +91 70362 32555  ...

[3 rows x 4 columns]
+91 70369 04545
               user  ... text_only_message
96  +91 70369 04545  ...
97  +91 70369 04545  ...

[2 rows x 4 columns]
+91 70750 39803
                user  ...              text_only_message
458  +91 70750 39803  ...                   yes sir...\n
459  +91 70750 39803  ...   G Rashik Reddy \nAK\nCse d\n

[2 rows x 4 columns]
+91 70758 07774
                user  ...                                  text_only_message
590  +91 70758 07774  ...                                  <Media omitted>\n
591  +91 70758 07774  ...   *Vardhaman college of* *engineering* is organ...

[2 rows x 4 columns]
+91 70937 59498
                user  ...                                  text_only_message
336  +91 70937 59498  ...   Sir the technical sessions are very poor ,no ...
337  +91 70937 59498  ...   This is to update all the eligible candidates...
338  +91 70937 59498  ...   Sir, but we are having mid exam in afternoon ...
339  +91 70937 59498  ...          Should we prepare for drive or for exam\n
340  +91 70937 59498  ...   Please respond as fast as possible sir,it wil...
341  +91 70937 59498  ...                               Please clarify sir\n
342  +91 70937 59498  ...                                           Ok sir\n
343  +91 70937 59498  ...                                            K sir\n
344  +91 70937 59498  ...                               Sriram \nAJ\nCSE.D\n

[9 rows x 4 columns]
+91 70950 90015
                user  ...                                  text_only_message
388  +91 70950 90015  ...   Sir, can we have the shortlisted candidates l...
389  +91 70950 90015  ...

[2 rows x 4 columns]
+91 73307 33799
                user  ... text_only_message
541  +91 73307 33799  ...

[1 rows x 4 columns]
+91 73308 30439
                user  ...                                  text_only_message
629  +91 73308 30439  ...   * Months of Netflix Premium Free at no cost F...

[1 rows x 4 columns]
+91 73311 74849
              user  ...   text_only_message
0  +91 73311 74849  ...           Yes sir\n
1  +91 73311 74849  ...   <Media omitted>\n

[2 rows x 4 columns]
+91 73828 52692
                user  ...                                  text_only_message
635  +91 73828 52692  ...   Sir, please extend the last date to Monday an...

[1 rows x 4 columns]
+91 76590 97774
                user  ...  text_only_message
471  +91 76590 97774  ...   G Niharika \nA\n

[1 rows x 4 columns]
+91 76619 80250
                user  ...                                  text_only_message
491  +91 76619 80250  ...                                  <Media omitted>\n
492  +91 76619 80250  ...   Sir actually it's showing drive dates as above\n
493  +91 76619 80250  ...                          K siddartha \nAL\nCse D\n

[3 rows x 4 columns]
+91 77300 35378
                user  ...       text_only_message
559  +91 77300 35378  ...
560  +91 77300 35378  ...   K.Anvesh\nAM\nCse d\n

[2 rows x 4 columns]
+91 77308 13113
                user  ...     text_only_message
467  +91 77308 13113  ...         Saikiran\nA\n
468  +91 77308 13113  ...   Saikiran\nA\ncseA\n
469  +91 77308 13113  ...

[3 rows x 4 columns]
+91 77309 40800
                user  ...                                  text_only_message
451  +91 77309 40800  ...   Hello All !\n\nWe have created a step by Step...
452  +91 77309 40800  ...                             Md.Ayesha Tasmeem\nA\n
453  +91 77309 40800  ...                              D. Vinay\nA\nCse- A\n

[3 rows x 4 columns]
+91 78938 25909
                user  ...                  text_only_message
571  +91 78938 25909  ...   PRANEETH SASANAPURI\nAP\nCSE-D\n

[1 rows x 4 columns]
+91 78939 37378
                user  ...                                  text_only_message
400  +91 78939 37378  ...   https//www.youtube.com/channel/UCzlQLgPbuedoe...
401  +91 78939 37378  ...                            PASPUNOORI VINEETH\nA\n

[2 rows x 4 columns]
+91 79934 07020
                user  ...                                  text_only_message
634  +91 79934 07020  ...   Sir, please extend the last date to Monday an...

[1 rows x 4 columns]
+91 79957 25738
                user  ...      text_only_message
572  +91 79957 25738  ...   R. Satwik,A, CSE-A\n

[1 rows x 4 columns]
+91 79958 72975
                user  ...                          text_only_message
347  +91 79958 72975  ...   Sir can u provide clg buses on th sir?\n
348  +91 79958 72975  ...                                 Okay sir\n
349  +91 79958 72975  ...                            Thank you sir\n
350  +91 79958 72975  ...                    M. Naimisha\nA\nCse-A\n

[4 rows x 4 columns]
+91 80088 02900
                user  ...        text_only_message
470  +91 80088 02900  ...   Raj Datta Manohar\nA\n

[1 rows x 4 columns]
+91 80746 33539
                user  ...               text_only_message
565  +91 80746 33539  ...   K. Praveenkumar\nAL \nCse d\n

[1 rows x 4 columns]
+91 80963 01436
                user  ...              text_only_message
397  +91 80963 01436  ...                    No by  pm\n
398  +91 80963 01436  ...          N.pranaya reddy\nAN\n
399  +91 80963 01436  ...   N Pranaya Reddy\nAN\nCSE D\n

[3 rows x 4 columns]
+91 80965 40660
              user  ...                                 text_only_message
2  +91 80965 40660  ...   Sir tomm we should attend InfyTQ or Cocubes ?\n
3  +91 80965 40660  ...

[2 rows x 4 columns]
+91 80967 59596
                user  ...      text_only_message
477  +91 80967 59596  ...      Satla Rahul\nAP\n
478  +91 80967 59596  ...   S Rahul\nAP\nCSE D\n

[2 rows x 4 columns]
+91 81257 27499
                user  ...      text_only_message
456  +91 81257 27499  ...              Yes sir\n
457  +91 81257 27499  ...   Rithesh\nAM\nCSE D\n

[2 rows x 4 columns]
+91 81792 45233
                user  ...            text_only_message
577  +91 81792 45233  ...   K Rahul Reddy\nAM\nCSE-D\n

[1 rows x 4 columns]
+91 81799 73238
                user  ...                                  text_only_message
346  +91 81799 73238  ...   Sir what about the people who have infytq exa...

[1 rows x 4 columns]
+91 81860 26629
                user  ...                                  text_only_message
480  +91 81860 26629  ...               https//www.flexiquiz.com/SC/N/CAPt\n
481  +91 81860 26629  ...                                Today's test link\n
482  +91 81860 26629  ...                           Everyone have to write\n
483  +91 81860 26629  ...
484  +91 81860 26629  ...   I don't know sir  they gave me  i think it wi...
485  +91 81860 26629  ...                           M.ShivaKunar\nA\nCSE-A\n

[6 rows x 4 columns]
+91 82473 05941
                user  ... text_only_message
626  +91 82473 05941  ...

[1 rows x 4 columns]
+91 82473 46985
                user  ...            text_only_message
574  +91 82473 46985  ...   Monica Meduri\nAM\nCSE-D\n

[1 rows x 4 columns]
+91 82474 76540
                user  ...                 text_only_message
472  +91 82474 76540  ...   Abhishek Srinivas Sunkara \nA\n
473  +91 82474 76540  ...                    Freshers ' '\n

[2 rows x 4 columns]
+91 82977 19096
                user  ...                                  text_only_message
447  +91 82977 19096  ...   https//g.tcsion.com/OnlineAssessment/index.ht...
448  +91 82977 19096  ...   -Day in your Dream Company \nHey, Want to int...

[2 rows x 4 columns]
+91 83744 13323
                user  ...          text_only_message
545  +91 83744 13323  ...   Parthasaradhi\nA\nCSEA\n

[1 rows x 4 columns]
+91 83745 87745
                user  ...        text_only_message
543  +91 83745 87745  ...   R s Lokesh\nAA\nCseB\n

[1 rows x 4 columns]
+91 84658 12532
                user  ...         text_only_message
564  +91 84658 12532  ...   B.shivasai\nAJ\nCse D\n

[1 rows x 4 columns]
+91 85008 91217
                user  ...                            text_only_message
494  +91 85008 91217  ...   Sir, exam is on th September  for  batch\n
495  +91 85008 91217  ...                         That is for  batch\n
496  +91 85008 91217  ...               D. Greeshma \nAD \n   CSE  C\n

[3 rows x 4 columns]
+91 85009 40612
                user  ... text_only_message
402  +91 85009 40612  ...

[1 rows x 4 columns]
+91 85228 83933
                user  ...                                  text_only_message
538  +91 85228 83933  ...   Sir, it's not accepting the format of our rol...

[1 rows x 4 columns]
+91 85559 50318
                user  ... text_only_message
544  +91 85559 50318  ...

[1 rows x 4 columns]
+91 88012 92547
                user  ...                                  text_only_message
311  +91 88012 92547  ...             sir, is this starting from tomorrow?\n
312  +91 88012 92547  ...   Sir, Our college name is not showing universi...
313  +91 88012 92547  ...                                while registering\n

[3 rows x 4 columns]
+91 88013 66964
                user  ...                                  text_only_message
358  +91 88013 66964  ...   Sir, can we have the shortlisted candidates l...
359  +91 88013 66964  ...   So that some of the students who have only cl...
360  +91 88013 66964  ...      Because it's a long way home for some of us\n
361  +91 88013 66964  ...                                        Thank you\n
362  +91 88013 66964  ...
363  +91 88013 66964  ...                                        Sorry sir\n
364  +91 88013 66964  ...   Sir, can we expect the further rounds of the ...
365  +91 88013 66964  ...                               Ok sir. Thank you.\n
366  +91 88013 66964  ...                                           Ok sir\n
367  +91 88013 66964  ...                                          Monday?\n
368  +91 88013 66964  ...
369  +91 88013 66964  ...

[12 rows x 4 columns]
+91 89780 43664
                user  ... text_only_message
542  +91 89780 43664  ...

[1 rows x 4 columns]
+91 89786 62563
                user  ...               text_only_message
630  +91 89786 62563  ...   Sir the link is not working\n

[1 rows x 4 columns]
+91 90106 66088
                user  ...                                  text_only_message
636  +91 90106 66088  ...   Yes sir we have already given  ts  and   to o...

[1 rows x 4 columns]
+91 90106 77088
                user  ...     text_only_message
586  +91 90106 77088  ...   B Ajay\nAC\nCSE-C\n

[1 rows x 4 columns]
+91 90108 19777
                user  ...                                  text_only_message
631  +91 90108 19777  ...   Sir,\nAs we are in villages it takes time to ...

[1 rows x 4 columns]
+91 90329 24215
                user  ...                                  text_only_message
449  +91 90329 24215  ...   Select other and enter the collage name as sp...
450  +91 90329 24215  ...

[2 rows x 4 columns]
+91 90594 88323
                user  ...                                  text_only_message
394  +91 90594 88323  ...   All the hyndai mobis selected  students are h...
395  +91 90594 88323  ...                                          yes sir\n
396  +91 90594 88323  ...                 K. Sai Venkat Reddy\nAL\nCSE - D\n

[3 rows x 4 columns]
+91 90599 28856
                user  ...             text_only_message
549  +91 90599 28856  ...   Jagpreeth Kaur\nAP\nCse D\n
550  +91 90599 28856  ...       M.Meghana \nAM\nCse D\n

[2 rows x 4 columns]
+91 90633 88499
               user  ...                                  text_only_message
95  +91 90633 88499  ...   Sir,\n*We have a chance to write Cocubes exam...

[1 rows x 4 columns]
+91 90638 26198
                user  ...                                  text_only_message
353  +91 90638 26198  ...   But in the circular they mentioned on st Augu...
354  +91 90638 26198  ...
355  +91 90638 26198  ...
356  +91 90638 26198  ...
357  +91 90638 26198  ...                                  <Media omitted>\n

[5 rows x 4 columns]
+91 93333 44488
                user  ... text_only_message
476  +91 93333 44488  ...      A\nD.vinay\n

[1 rows x 4 columns]
+91 93814 67707
                user  ... text_only_message
540  +91 93814 67707  ...

[1 rows x 4 columns]
+91 94906 75124
                user  ... text_only_message
479  +91 94906 75124  ...    Thankyou sir\n

[1 rows x 4 columns]
+91 94936 65554
                user  ...                  text_only_message
562  +91 94936 65554  ...   S Krishna chaitanya\nAP\nCSE D\n
563  +91 94936 65554  ...                  Sir p submitted\n

[2 rows x 4 columns]
+91 94940 61357
                user  ...                           text_only_message
390  +91 94940 61357  ...                                   Yes sir\n
391  +91 94940 61357  ...   Tejaswini panthagani \nA\n\nHarika G\nA\n
392  +91 94940 61357  ...                  N Sriharshini \nA\nCse-A\n

[3 rows x 4 columns]
+91 94946 06087
                user  ...                                  text_only_message
627  +91 94946 06087  ...       ...\n\n        .           ,       .     ...

[1 rows x 4 columns]
+91 95025 74618
                user  ...                  text_only_message
573  +91 95025 74618  ...   P.Nagasai Himavanth\nAN\nCSE-D\n

[1 rows x 4 columns]
+91 95050 86826
                user  ...                                  text_only_message
445  +91 95050 86826  ...   no sir we dint get any .can u share us  the l...
446  +91 95050 86826  ...                        Sanam Sunayana\nAN\nCSE d\n

[2 rows x 4 columns]
+91 95056 52090
                user  ...                      text_only_message
585  +91 95056 52090  ...   G Sai Manoj Kumar Reddy\nAE\nCSE C\n

[1 rows x 4 columns]
+91 95152 32504
                user  ...               text_only_message
576  +91 95152 32504  ...   K. Sai Chandana\nAF\nCSE- C\n

[1 rows x 4 columns]
+91 95157 16572
                user  ...                       text_only_message
351  +91 95157 16572  ...   Sir is HR round on th or August st?\n
352  +91 95157 16572  ...

[2 rows x 4 columns]
+91 95425 62634
                user  ...      text_only_message
570  +91 95425 62634  ...   G.Rahul\nAK\nCse D\n

[1 rows x 4 columns]
+91 95427 28974
                user  ... text_only_message
387  +91 95427 28974  ...         Yes sir\n

[1 rows x 4 columns]
+91 95428 93339
                user  ...         text_only_message
556  +91 95428 93339  ...   K Sreeja \nAF\nCSE -c\n

[1 rows x 4 columns]
+91 95500 65325
                user  ...              text_only_message
454  +91 95500 65325  ...                      Yes sir\n
455  +91 95500 65325  ...   Madhu Manideep \nAM\nCSE.D\n

[2 rows x 4 columns]
+91 95506 84028
                user  ... text_only_message
383  +91 95506 84028  ...         Yes sir\n

[1 rows x 4 columns]
+91 95818 03046
                user  ...                                  text_only_message
443  +91 95818 03046  ...   TCS officially launched a mock test...\nThose...
444  +91 95818 03046  ...                                    Sir submitted\n

[2 rows x 4 columns]
+91 96036 40285
                user  ...          text_only_message
567  +91 96036 40285  ...   M. Srikanth\nAN\nCse d\n

[1 rows x 4 columns]
+91 96182 06080
                user  ...               text_only_message
569  +91 96182 06080  ...   K. Vishnuvardhan\nAL\nCse-D\n

[1 rows x 4 columns]
+91 96404 10161
                user  ... text_only_message
628  +91 96404 10161  ...

[1 rows x 4 columns]
+91 96405 23565
                user  ...              text_only_message
566  +91 96405 23565  ...   G.S.V.N Yasashwi\nAK\nCsed\n

[1 rows x 4 columns]
+91 96408 30113
                user  ...  text_only_message
475  +91 96408 30113  ...   Suchithra \nAF\n

[1 rows x 4 columns]
+91 96523 24521
                user  ...            text_only_message
551  +91 96523 24521  ...   Jessica Mettu\nAF\nCse C\n

[1 rows x 4 columns]
+91 96527 98910
                user  ...             text_only_message
546  +91 96527 98910  ...   G Sreeja Reddy\nAK\nCSE D\n
547  +91 96527 98910  ...       AJ\nB.Maneesha\nCSE-D\n

[2 rows x 4 columns]
+91 96661 16009
                user  ... text_only_message
625  +91 96661 16009  ...

[1 rows x 4 columns]
+91 96768 85087
                user  ...                                  text_only_message
461  +91 96768 85087  ...   Hello coders,\nThe online megathon(conducts b...
462  +91 96768 85087  ...                                  <Media omitted>\n
463  +91 96768 85087  ...   It is mandatory that you prepare a presentati...
464  +91 96768 85087  ...   link to the  problem statements  https//howzh...
465  +91 96768 85087  ...
466  +91 96768 85087  ...                               T Shiva Kumar \nAB\n

[6 rows x 4 columns]
+91 97018 76610
                user  ...             text_only_message
497  +91 97018 76610  ...             <Media omitted>\n
498  +91 97018 76610  ...                      st Sep\n
499  +91 97018 76610  ...              Thank You Sir!\n
500  +91 97018 76610  ...   aptroid.claytest.com/vmeg\n
501  +91 97018 76610  ...          P.kalyan\nA\nCse-A\n

[5 rows x 4 columns]
+91 97044 13836
                user  ...        text_only_message
426  +91 97044 13836  ...        <Media omitted>\n
427  +91 97044 13836  ...          Lti Gd topics\n
428  +91 97044 13836  ...        <Media omitted>\n
429  +91 97044 13836  ...        <Media omitted>\n
430  +91 97044 13836  ...        <Media omitted>\n
431  +91 97044 13836  ...             Cts papers\n
432  +91 97044 13836  ...        <Media omitted>\n
433  +91 97044 13836  ...        <Media omitted>\n
434  +91 97044 13836  ...   Cts technical papers\n
435  +91 97044 13836  ...        <Media omitted>\n
436  +91 97044 13836  ...        <Media omitted>\n
437  +91 97044 13836  ...        <Media omitted>\n
438  +91 97044 13836  ...        <Media omitted>\n
439  +91 97044 13836  ...        <Media omitted>\n
440  +91 97044 13836  ...        <Media omitted>\n
441  +91 97044 13836  ...        <Media omitted>\n
442  +91 97044 13836  ...           Wipro papers\n

[17 rows x 4 columns]
+91 97047 82969
                user  ...                                  text_only_message
552  +91 97047 82969  ...                      CH Sravanth Kumar\nA\nCSE A\n
553  +91 97047 82969  ...   Respected faculty,\nI would like to know why ...

[2 rows x 4 columns]
+91 97055 51333
                user  ... text_only_message
460  +91 97055 51333  ...         Yes Sir\n

[1 rows x 4 columns]
+91 98483 13908
                user  ...                                  text_only_message
632  +91 98483 13908  ...
633  +91 98483 13908  ...   Sir, most of us are still in assumption that ...

[2 rows x 4 columns]
+91 98667 58870
               user  ...                                  text_only_message
4   +91 98667 58870  ...                                          Infy TQ\n
5   +91 98667 58870  ...                                               Ok\n
6   +91 98667 58870  ...                    satya how many from vardhaman\n
7   +91 98667 58870  ...                                           thanks\n
8   +91 98667 58870  ...                                              cvr\n
..              ...  ...                                                ...

In [0]:
for name in messages.keys():
    df = df.append(pd.DataFrame({'raw_text': messages[name], 'user': name}))

Which is efficient this or chainer?